# Byte-compiled files
__pycache__/
*.py[cod]

# ignore all nested .pyc files
**/*.pyc

# Virtual environment
venv/
env/

# IDE settings
.idea/
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store

# Test coverage
htmlcov/
*.cover
*.py,cover

# Build artifacts
build/
dist/
*.egg-info/

# macOS-specific files
**/.DS_Store

# Ignore the content of the generate data
simulator/fbref/output/**